<h1>{{title}}</h1>
<p>Brought to you by {{authors}}! This API was last updated at {{date}}.</p>
<p>
  <em>Current Version:</em> {{version}}
</p>

<section>
  <h2>Pancakes Listing</h2>
  <div class="pancakes">

  </div>
</section>
